@import url("./fonts/icomoon/fonts.style.css");
@import url('./reset.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
	background:#97cadf;
	color: #282828;
}
.d_flex {
	display: flex;
}
.s_between {
	justify-content: space-between;
}
.search_panel {
	width: 75%;
	height: 30px;
}
.post_filter {
	width: 20%;
}
button:hover {
	background: #94cdde!important;
	color: white;
	border: 2px solid #a9a9a9;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}